/* Stylesheet for the application */  /*  */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;

}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    min-height: 600px;
    border: 1px solid blue;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

header{
    margin-bottom: 30px;
}

header a{
    display: flex;
    flex-direction: column;
    align-items: center;
}


header a img{
    width: 70%;
}

/* General form styles */

.generic-form{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.generic-form button {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: darkgreen;
    color: white;
}

.generic-form button:hover{
    background-color: lightgreen;
}

.generic-form input[type="text"], .generic-form input[type=password]{
    padding: 10px;
    font-size: 1.2rem;
}

.input-large{
    width: 250px;
}

.error{
    border: 1px solid red;
    padding: 10px;
    color: red;
    max-width: 400px;
}

/* Index styles */



/* Task styles */
.task-table{
    border-collapse: collapse; /* Vi laver border imellem hvert felt senere, og derfor vil der komme dobbelt nogle steder hvis denne ikke er væk */
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 400px;
}

.task-table td, .task-table th{
    border: 1px solid #ddd;
    padding: 10px;
}

.task-table tr:nth-child(even){ /*  hver anden række grå*/
    background-color: silver;
}