<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Fourthingsplus</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<header>
    <a href="index.html" th:href="@{/}"> <!-- billede bliver sat ind i midten af et <a> tag, som indeholder et link til forsiden! dvs når du trykker ryger du til forside! -->
        <img src="../public/images/fourthingsplus.png" th:src="@{/images/fourthingsplus.png}" width="35%"/>
    </a>
</header>

<h1>Welcome, <span th:text="${session.currentUser.username}"></span></h1> <!-- dette virker pga ctx.sessionAttribute i UserController! -->

<form class ="generic-form" method="post">
    <input class="input-large" type="text" name="taskname" placeholder="Enter your task here"/>
    <button type="submit" formaction="addtask">Add</button>
</form>

<h2>Doing</h2>

<table class="task-table">
    <thead>
    <tr>
        <th>Item</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task: ${taskList}"> <!-- ligesom at lave en foreach loop - bare i html! -->
        <td th:text="${task.name}"></td>
        <td><button type ="submit">Edit</button></td>
    </tr>
    </tbody>
</table>

<p th:if="${session.currentUser != null}">  <!-- if-statement i html -->
    <a href="index.html" th:href="@{/logout}">Logout</a>
</p> <!-- thymeleaf delen gør at den kommer ind forbi den route der hedder logout, som sletter credentials -->

</body>
</html>

